@mixin base {
  .v-Notification {
    box-shadow: none;
    border: 1px solid #c5c5c5;
  }

  .view-container {
    overflow: auto;
    > .v-verticallayout {
      padding-top: 15px;
    }
  }

  .caption-underline{
    border-bottom: 1px solid #c5c5c5;;
  }
}

