@mixin base {
  .v-Notification {
    box-shadow: none;
    border: 1px solid #c5c5c5;
  }

  .view-container {
    overflow: auto;
    > .v-verticallayout {
      padding-top: 15px;
    }
  }

  .caption-underline {
    border-bottom: 1px solid #c5c5c5;
  }

  .app-background {
    background: url("images/app/app_background.png") no-repeat;
    background-size: cover;
  }

  .app-caption {
    font-weight: bolder;
    text-decoration-line: overline;
  }

  .info-notification-style {
    background: #197de1;;
    .v-Notification-caption, .v-Notification-description, .v-icon {
      color: white;
    }
  }
}

