@mixin eventform {
  .event_form {
    .v-horizontallayout {
      width: 100% !important;
    }
    .v-textfield {
      width: 100% !important;
    }
    .v-textarea {
      width: 100% !important;
    }
    .v-datefield {
      width: 100% !important;
    }
    .v-select {
      width: 100% !important;
    }
    .full-width-filterselect {
      width: 100% !important;
    }
  }
}

