$v-error-indicator-color: #ed473b;
$v-bevel: false;
$v-shadow: false;
$v-gradient: false;
$v-border-radius: 0;
$v-app-loading-text: "Loading...";


@import "../valo/valo.scss";

@mixin mytheme {
  @include valo;
}
