$my-green:rgb(109, 179, 63);
$my-dark-gray:rgb(52, 48, 45);
$my-light-gary:rgb(235, 241, 231);
$v-background-color: hsl(0, 0%, 95%);
$v-app-background-color: #fff;
$v-font-family: "Varela Round",sans-serif;
$v-font-size: 14px;
$v-font-weight: 400;
$v-focus-color: $my-dark-gray;
$v-focus-style: $my-dark-gray;
$v-error-indicator-color: #ed473b;
$v-bevel: false;
$v-shadow: false;
$v-gradient: false;
$v-border: 2px solid v-tone;
$v-border-radius: 0;
$v-app-loading-text: "Loading...";


@import "../valo/valo.scss";

@mixin mytheme {
  @include valo;
}
