@mixin shame {
  .user-image-group {
    padding-bottom: 0px;
    padding-right: 0px;
    .user-image {
      border: 1px solid #c5c5c5;
      margin-bottom: 5px;
    }
    .v-upload {
      width: 100%;
      border: 1px solid #1362b1;;
      .v-button{
        background: #197de1;
        text-align: center;
        color: #eaf4e9;
        font-weight: 400;
      }
    }
  }

  .h-layout-with-top-bottom-padding {
    padding-top: 15px;
    padding-bottom: 37px;
  }

  .point-field-border {
    border: 1px solid #c5c5c5;
  }

  .map-form-v-layout {
    padding-bottom: 37px !important;
  }

  .grid-profile-picture {
    text-align: center !important;
    .gwt-Image {
      width: 35px;
      margin-bottom: 3px;
      border: 1px solid #c5c5c5 !important;
    }
  }

  .grid-participant-column {
    .v-label {
      width: 60px;
    }
    pre {
      font-family: "Open Sans", sans-serif;
    }
  }

  .email-label {
    margin-top: 0px !important;
    border-bottom: 1px solid #c5c5c5 !important;
  }
}

