@mixin simple_event {
  .event-data-viewer {
    background-color: white;
    border: 1px solid #c5c5c5;
    width: 200px;
    padding: 15px;
    .v-button {
      width: 100%;
    }
  }

  .data-layout {
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .normal-white-space {
    white-space: normal !important;
  }
}

